/**************************** En-tête ****************************/
nav.header 
{
    display: flex;
    justify-content: space-between;
}

.header img
{
    width: 20%;
}

ul
{
    display: flex;
    list-style: none;
    font-size: large;
}
li{
    margin-right: 50px;
}

/*************************** Main **********************************/
        
body{
    background-color: seashell;
    padding: 0;
    margin: 0;
}

div.row.justify-content-md-center{
    display: block;
    background-color: #403d39;
    color: white;
}
div.col-md-auto{
    display: block;
    text-align: center;
    padding: 20px;
}
h2#space-h.text-center.m-3{
    text-align: center;
    margin: 50px;
}
em{
    font-size: x-large;
    font-style: initial;
}
main{
    margin-bottom: 200px;
    background-color: #000000d9;
    color: whitesmoke;
}
/***************************** Display main Grid********************************/
.row
{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows:auto;
    grid-gap: 80px;
    justify-content: center;
}
.row .basket-title
{
    display: flex;
       
}

table
{
    text-align: center;
    margin-left: 200px;
}

form
{
    text-align: center;
    padding: 110px;
}
div.row.justify-content-around{
    text-align: center;
    font-weight: bolder;
    font-size: 1.0em;
}
div#review table caption{
    padding: 20px;
    font-size: large;
}
div#review table{
    width: 100%;
    border: 2px solid;
    margin-left: unset;
}
div#review table tfoot{
    font-size: 1.5em;
    font-weight: bolder;
}
div#review table tr td{
    width: 200px;
}
/*********************Display produit*************************/
                    
div.produitcontainer.row{
    display: grid;
    grid-template-columns: 1fr;

}
footer#footer.d-flex.justify-content-between.pt-3.pb-3.fixed-bottom{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
div.col-md-5.product-border.mt-5.mb-4.col-sm-6.mr-4.border.border-dark a img{
    box-shadow: -1px 1px 3px 3px ghostwhite;
}
/****************************Panier*********************************/

                    
caption{
    padding: 60px;
    font-size: xx-large;
    font-weight: bolder;
}
thead{
    font-size: x-large;
    
}
div.produit-border.offset-1.col-md-6.offset-md-3.mt-5.p-3.border-dark{
    text-align: center;
    display: table-cell;
    
}
div.produit-border.offset-1.col-md-6.offset-md-3.mt-5.p-3.border-dark img{
    width: 70%;
}

/****************************Formulaire*********************************/
div.formulaire-contact, div.form-group.col-1{
    margin-bottom: 30px;
}
input{
    width: 50%;
}
button#btn1{
    margin-top: 20px;
}
/**************************** Footer*********************************/
                    
footer{
    background-color: #403d39;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
footer .mention-legal{
    text-align: center;
    color: white;
}
footer .link-utile, .link-utile p
{
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}
footer#footer.d-flex.justify-content-between.pt-3.pb-3.fixed-bottom{
    height: 17%;
}

/*----------------------------Le responsive design--------------------------------*/

@media all and (max-width: 766px){
    nav.header{
        display: flex;
        justify-content: space-around;
    }
   
    .header img {
        width: 50%;
    }
    table#producttable thead{
        font-size: 1em;
    }
    table#producttable{
        margin-left: auto;
    }
    table#producttable caption{
        font-size: initial;
        padding: 20px;
    }
    input{
        margin-left: auto;
        width: auto;
    }
    label{
        display: block;
    }
    form#form_1.account{
        padding: 0;
        margin-top: 50px;
    }
    main{
        margin-bottom: 150px;
    }
    footer#footer.d-flex.justify-content-between.pt-3.pb-3.fixed-bottom{
        padding-bottom: 0;
    }
    div.col-md-auto h3{
        display: none;
    }
    p.confirmation-title.pt-5,h1#confirmation.confirmation-title.text-center.m-5 p, h2.confirmation-title.text-center
    div#review table caption{
        font-size: 0.6em;
    }
    div#review table{
        width: auto;
        margin-left: 0;
    }
    div#review{
        display: grid;
    }
}
@media all and (max-width: 767px){
    div.row.justify-content-around{
        display: block;
        padding: 20px;
        width: auto;
    }
    footer#footer.d-flex.justify-content-between.pt-3.pb-3.fixed-bottom{
        height: 17%;
        padding-bottom: 25px;
    }
    footer .link-utile, .link-utile p {
        display: flex;
        justify-content: space-evenly;
        color: white;
        text-decoration: none;
    }
    div.col-md-auto h3{
        display: none;
    }
    div#review{
        display: grid;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    div.row.justify-content-around{
        display: block;
        padding: 20px;
        width: auto;
    }
    .header img {
        width: 50%;
    }
    table#producttable{
        margin-left: auto;
    }
    footer#footer.d-flex.justify-content-between.pt-3.pb-3.fixed-bottom{
        height: 17%;
        
    }
    footer .link-utile, .link-utile p {
        display: flex;
        justify-content: space-around;
        color: white;
        text-decoration: none;
    }
    div.col-md-auto h3{
        display: none;
    }
    input{
        margin-left: 0;        
    }
    label{
        display: block;
    }
    form#form_1.account{
        padding: 0;
        margin-top: 50px;
    }
    div#review{
        display: grid;
    }
    
}

@media all and (min-width: 1025px){
    
    
}
@media screen and (orientation: landscape){

}